<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <script src="https://cdn.amcharts.com/lib/version/5.3.0/map.js"></script>
    <script src="https://cdn.amcharts.com/lib/version/5.3.0/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/version/5.3.0/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/version/5.3.0/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/version/5.3.0/geodata/worldLow.js"></script>
  </head>
  <body>
    <%- include("partials/menu.ejs") %>
    <main><%= countryName %></main>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
