<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include("partials/menu.ejs") %>
    <main>hi</main>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
