<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include("partials/menu.ejs") %>
    <main>
      <h1>Random Scenery</h1>
      <div class="scenery-gallery">
        <% images.forEach(image => { %>
        <div class="scenery-item">
          <figure>
            <img src="<%= image.url %>" alt="Scenery" />
          </figure>
        </div>
        <% }) %>
      </div>
    </main>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
